body {
  font-family: Cardo, serif;
  margin: 0;
  @include baseline-grid(24);
}

.container {
  width: 960px;
  margin: 8px auto;
}

.oldstyle-numeral {
  font-variant-numeric: oldstyle-nums;
}

h1 {
  font-size: 24px;
  line-height: 24px;
  font-weight: normal;
  margin: 0 0 24px 0;
  position: relative;
  top: -2px;
}

h2 {
  font-size: 18px;
  line-height: 24px;
  margin: 0 0 24px 0;
  font-weight: normal;
  text-transform: lowercase;
  font-variant: small-caps;
}

h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 24px 0;
}

p {
  font-size: 18px;
  line-height: 24px;
  margin: 0;
}
